.institucional {
  background-color: yellow;
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card-sobreposto {
    background-color: #fff;
    width: 80%;
    height: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.75);

    .imagens-dispositivos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 88%;
      margin-top: 6%;
    }

    /* DISPLAY DESKTOP */
    @media (min-width: 744px) {
      .imagens-dispositivos {
        background-color: red;
        height: 40%;
      }
    }

    /* DISPLAY TABLET */
    @media (max-width: 744px) {
      .imagens-dispositivos {
        background-color: green;
        height: 24%;
      }
    }

    /* DISPLAY MOBILE */
    @media (max-width: 440px) {
      .imagens-dispositivos {
        background-color: blue;
        height: 16%;
      }
    }
  }
}
