.institucional {
  background-color: yellow;
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card-sobreposto {
    background-color: #fff;
    width: 80%;
    height: 96%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.75);

    .imagens-dispositivos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 88%;
      margin-top: 6%;
    }

    .info-funcionamento {
        background-color: brown;
        width: 88%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        hov {
            color: red;
        }
        
    }


    /* DISPLAY DESKTOP */
    @media (min-width: 744px) {
      .imagens-dispositivos {
        background-color: red;
        height: 40%;
      }

      .info-funcionamento {
        gap: 40px;
        h2 {
            font-size: 48px;
        }

        p {
            font-size: 20px;
        }
      }
    }

    /* DISPLAY TABLET */
    @media (max-width: 744px) {
      .imagens-dispositivos {
        background-color: green;
        height: 24%;
      }

      .info-funcionamento {
        gap: 24px;

        h2 {
            font-size: 36px;
        }

        p {
            font-size: 16px;
        }
      }
    }

    /* DISPLAY MOBILE */
    @media (max-width: 440px) {
      .imagens-dispositivos {
        background-color: blue;
        height: 16%;
      }

      .info-funcionamento {
        gap: 16px;

        h2 {
            font-size: 32px;
        }

        p {
            font-size: 12px;
        }
      }
    }
  }
}
