.kpi {
  background-color: var(--cor-para-o-texto-branco);
  display: flex;
  width: 24%;
  height: 100%;
  border-radius: 0.6rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.65);
  --indicador-color: #000000;
  
  .kpi-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 4%;
    
    .titulo-kpi {
      color: gray;
      width: 100%;
      text-align: center;
    }
    
    .valor-kpi {
      color: #000;
      width: 100%;
      font-size: 26px;
      text-align: center;
    }

    .adicional-kpi {
      width: 100%;
      color: gray;
      font-size: small;
      text-align: center;
    }

  }

    @media (max-width: 768px) {
    .titulo-kpi {
      font-size: 0.9rem;
    }

    .valor-kpi {
      font-size: 1.2rem !important;
  }

  .adicional-kpi {
    font-size: 0.8rem !important;
  }
}

}

.kpi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px; 
  height: 100%;
  background-color: var(--indicador-color);
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}
