.linha-funcionario td {
  background-color: white;
  padding: 10px;
  color: var(--cor-para-texto-preto);
  text-align: center;
  vertical-align: middle;
  border-bottom: none;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.linha-funcionario div {
  margin: 2px 0;
}


.acoes {
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.acoes button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.acoes button:hover {
  opacity: 0.7;
}
