.tabela-funcionarios {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.tabela-funcionarios > table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.corpo-tabela table {
  width: 95%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.corpo-tabela {
  max-height: 330px;
  overflow-y: auto;
}

.corpo-tabela table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.corpo-tabela tr {
  background-color: var(--titulos-botoes-destaques);
}

table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.tabela-completa {
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;       
  border-radius: 10px;         
  overflow: hidden;             
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.tabela-completa table:first-of-type {
  width: 100%;
  border-collapse: collapse;
}