.cozinha {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  overflow-y: hidden;

  .titulo {
    width: 90%;
    height: 8%;
    display: flex;
    align-items: end;
    gap: 8px;
  }
}

.tela-comandas {
  width: 100%;
  height: 100%;
  gap: 3.33%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;

  .comanda-container {
    width: 30%;
    height: auto;

    .comanda {
      width: 100%;
      height: auto;
      background: var(--cor-para-o-texto-branco);
      border-radius: 2%;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);


      .cabecalho-comanda {
        /* background-color: springgreen; */
        width: 100%;
        padding: 8px;
        display: flex;

        .cabecalho-conteudo {
          display: flex;
          width: 100%;
          padding: 8px;
          border-bottom: 1px solid #ddd;
          justify-content: space-between;
        }

        .cabecalho-concluir {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;

          .cabecalho-botao {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            gap: 8px;
            border: 1px solid var(--titulos-botoes-destaques);
            border-radius: 8px;
            background-color: var(--cor-para-o-texto-branco);
            color: var(--titulos-botoes-destaques);
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.2s ease;
            border: 1px solid var(--titulos-botoes-destaques);

            &:hover {
              background-color: var(--titulos-botoes-destaques);
              color: white;

              img {
                content: url("../../assets/check-branco.svg");
              }
            }
          }
        }
      }

      .corpo-comanda {
        /* background-color: chocolate; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 10px;

        .pedidoCliente {
          border-bottom: 1px solid #ddd;
          border-top: 1px solid #ddd;
          padding: 8px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          gap: 6px;

          .info-pedidoCliente {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 16px;
            /* font-weight: bold; */
            gap: 32px;
          }

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: normal;
          }
        }

        .corpo-conteudo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;
          gap: 4px;
          padding-left: 8px;

          .imagem {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 69px;
            border-radius: 5px;
            border: 1px solid #000;
            overflow: hidden;
            /* background-color: #0f14b8; */

            img {
              padding: 3px;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .itemInfo {
            /* background-color: yellow; */
            display: flex;
            width: 60%;
            overflow: hidden;
            box-sizing: border-box;
            /* background-color: yellow; */
            flex-direction: column;
            padding-left: 4px;

            .itemDescricao {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;
              word-break: break-word;
              overflow-wrap: anywhere;
            }

            .observacao {
              font-size: 16px;
              color: red;

              span {
                font-weight: bold;
                font-size: 16px;
              }
            }
          }

          .btn-check {
            width: 15%;
            display: flex;
            justify-content: center;
            /* background-color: purple; */
          }
        }
      }

      .rodape-comanda {
        /* background-color: hsl(276, 100%, 50%); */
        width: 100%;
        display: flex;
        padding: 10px;
        padding-left: 16px;

        .rodape-conteudo {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          p {
            color: red;
          }
        }
      }
    }
  }
}

.filtro-data {
  display: flex;         
  align-items: center;    
  gap: 10px;   
  width: max-content;           
}

.tela-comandas::-webkit-scrollbar {
  width: 20px;
}

.tela-comandas::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid rgba(43, 43, 43, 0.1);
}

.tela-comandas::-webkit-scrollbar-thumb {
  background-color: rgba(43, 43, 43, 0.1);
  border-radius: 10px;
  border: 1px solid #2b2b2b3d;
  background-clip: content-box;
}

.tela-comandas::-webkit-scrollbar-thumb:hover {
  background-color: #2b2b2b28;
}

.botao-historico {
  background: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.botao-historico:hover {
  background-color: var(--detalhes-2);
}


.botao-historico.ativo {
  background-color: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
}

.filtro-data {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}
.filtro-data > div {
  width: auto;
}


/* Versão mobile */
@media (max-width: 768px) {
  .filtro-data {
    align-items: stretch;
    width: 100%;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .filtro-data > div {
    width: 100%;
  }

  
  html {
    overflow-y: hidden;
  }

  .tela-comandas {
    margin-top: 18%;

     &::-webkit-scrollbar {
      width: 8px; /* mais fino no mobile */
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(43, 43, 43, 0.2);
      border-radius: 10px;
      border: none;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(43, 43, 43, 0.3);
    }
  }

  

    .tela-comandas .comanda-container {
    width: 95%;
    margin: 0 auto 16px auto;
  }

  .comanda {
    padding: 6px;
    font-size: 14px;
  }

  .cabecalho-comanda .cabecalho-conteudo {
    padding: 6px;
    font-size: 14px;
  }

  .cabecalho-comanda .cabecalho-botao {
    padding: 8px;
    font-size: 14px !important;
  }

  .corpo-comanda {
    padding: 6px;
    gap: 8px;
  }

  .info-pedidoCliente {
    font-size: 14px !important;
    gap: 12px !important;
  }

  .corpo-conteudo .imagem {
    width: 25% !important;
    height: 60px !important;
  }

  .itemInfo {
    width: 65%;
  }

  .observacao, .observacao span {
    font-size: 14px !important;
  }

  

  .imagem {
    width: 22%;
    height: 55px;
  }

  .itemInfo {
    width: 63%;
    padding-left: 4px;
  }

  .rodape-comanda {
    padding: 8px 12px;
  }

  .cabecalho-botao {
    padding: 6px 10px !important;
    font-size: 12px !important;
    gap: 6px !important;
  }

  .btn-check {
    width: 12% !important;
  }

  .btn-check input[type="checkbox"] {
    width: 18px !important;
    height: 18px !important;
    cursor: pointer;
  }

  .cabecalho-comanda .cabecalho-concluir {
    padding: 0 4px !important;
  }

  .botao-historico {
    width: 100%;
        height: auto;
        font-size: 13px;
        line-height: 1.1;
        justify-content: center;
        align-items: center;
        min-width: 170px;
        padding: 12px 0;
  }
}

