.cozinha {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2%;

  .titulo {
    width: 90%;
    height: 8%;
    display: flex;
    align-items: end;
    gap: 8px;
  }
}

.tela-comandas {
  width: 100%;
  height: 100%;
  gap: 3.33%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;

  .comanda-container {
    width: 30%;
    height: auto;

    .comanda {
      width: 100%;
      height: auto;
      background: var(--cor-para-o-texto-branco);
      border-radius: 2%;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);


      .cabecalho-comanda {
        /* background-color: springgreen; */
        width: 100%;
        padding: 8px;
        display: flex;

        .cabecalho-conteudo {
          display: flex;
          width: 100%;
          padding: 8px;
          border-bottom: 1px solid #ddd;
          justify-content: space-between;
        }

        .cabecalho-concluir {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;

          .cabecalho-botao {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            gap: 8px;
            border: 1px solid var(--titulos-botoes-destaques);
            border-radius: 8px;
            background-color: var(--cor-para-o-texto-branco);
            color: var(--titulos-botoes-destaques);
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.2s ease;
            border: 1px solid var(--titulos-botoes-destaques);

            &:hover {
              background-color: var(--titulos-botoes-destaques);
              color: white;

              img {
                content: url("../../assets/check-branco.svg");
              }
            }
          }
        }
      }

      .corpo-comanda {
        /* background-color: chocolate; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 10px;

        .pedidoCliente {
          border-bottom: 1px solid #ddd;
          border-top: 1px solid #ddd;
          padding: 8px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          gap: 6px;

          .info-pedidoCliente {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            gap: 32px;
          }

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: normal;
          }
        }

        .corpo-conteudo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;
          gap: 4px;
          padding-left: 8px;

          .imagem {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 69px;
            border-radius: 5px;
            border: 1px solid #000;
            overflow: hidden;
            /* background-color: #0f14b8; */

            img {
              padding: 3px;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .itemInfo {
            /* background-color: yellow; */
            display: flex;
            width: 60%;
            overflow: hidden;
            box-sizing: border-box;
            /* background-color: yellow; */
            flex-direction: column;
            padding-left: 4px;

            .itemDescricao {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;
              word-break: break-word;
              overflow-wrap: anywhere;
            }

            .observacao {
              font-size: 16px;
              color: red;

              span {
                font-weight: bold;
                font-size: 16px;
              }
            }
          }

          .btn-check {
            width: 15%;
            display: flex;
            justify-content: center;
            /* background-color: purple; */
          }
        }
      }

      .rodape-comanda {
        /* background-color: hsl(276, 100%, 50%); */
        width: 100%;
        display: flex;
        padding: 10px;
        padding-left: 16px;

        .rodape-conteudo {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          p {
            color: red;
          }
        }
      }
    }
  }
}

.filtro-data {
  display: flex;         
  align-items: center;    
  gap: 10px;              
}

.tela-comandas::-webkit-scrollbar {
  width: 20px;
}

.tela-comandas::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid rgba(43, 43, 43, 0.1);
}

.tela-comandas::-webkit-scrollbar-thumb {
  background-color: rgba(43, 43, 43, 0.1);
  border-radius: 10px;
  border: 1px solid #2b2b2b3d;
  background-clip: content-box;
}

.tela-comandas::-webkit-scrollbar-thumb:hover {
  background-color: #2b2b2b28;
}

.botao-historico {
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--titulos-botoes-destaques);
  border-radius: 8px;
  background-color: var(--cor-para-o-texto-branco);
  color: var(--titulos-botoes-destaques);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid var(--titulos-botoes-destaques);
  height: 42px;
}

.botao-historico.ativo {
  background-color: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
}

.botao-historico:hover {
  background-color: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
}