version: '3.8'

services:
  nginx: 
    container_name: i9-website-application
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443" # Descomentar quando for configurar o HTTPS
    volumes:
      # A linha mais importante: conecta seu arquivo de configuração ao container
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro # Para HTTPS
      - /var/www/certbot:/var/www/certbot   # Para renovação do HTTPS