  version: '3.8'

  services:
    nginx: 
      container_name: i9-website-application
      build:
        context: .
        dockerfile: Dockerfile
      ports:
        - "80:80"
        - "443:443" # Descomentar quando for configurar o HTTPS
      volumes:
        # Arquivo de configuração principal do Nginx
        - ./nginx/app.conf:/etc/nginx/conf.d/default.conf
        # Compartilha o certificado público da EC2 para o contêiner
        # - /etc/ssl/certs/nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt:ro
        # Compartilha a chave privada da EC2 para o contêiner
        # - /etc/ssl/private/nginx-selfsigned.key:/etc/ssl/private/nginx-selfsigned.key:ro
         # Volume para os certificados Let's Encrypt (lido pelo Nginx)
        - /etc/letsencrypt:/etc/letsencrypt:ro
      # Volume para o desafio ACME (lido pelo Nginx)
        - /var/www/certbot:/var/www/certbot
      depends_on:
      - certbot

    certbot:
    image: certbot/certbot
    container_name: certbot-manager
    volumes:
      # Volume para armazenar os certificados escrito pelo Certbot
      - /etc/letsencrypt:/etc/letsencrypt
      # Volume para o desafio ACME escrito pelo Certbot
      - /var/www/certbot:/var/www/certbot
    # Esse comando tentará renovar o certificado a cada 12 horas.
    # Ele não faz nada na primeira execução, apenas aguarda.
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    