  version: '3.8'

  services:
    nginx: 
      container_name: i9-website-application
      build:
        context: .
        dockerfile: Dockerfile
      ports:
        - "80:80"
        - "443:443" # Descomentar quando for configurar o HTTPS
      volumes:
        # A linha mais importante: conecta seu arquivo de configuração ao container
        - ./nginx/app.conf:/etc/nginx/conf.d/default.conf
        # Compartilha o certificado público da EC2 para o contêiner
        - /etc/ssl/certs/nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt:ro
        # Compartilha a chave privada da EC2 para o contêiner
        - /etc/ssl/private/nginx-selfsigned.key:/etc/ssl/private/nginx-selfsigned.key:ro
        - /etc/letsencrypt:/etc/letsencrypt:ro # Para HTTPS
        - /var/www/certbot:/var/www/certbot   # Para renovação do HTTPS