@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --texto-preto: #040B28;
  --hovers: #0E2361;
  --destaque: #0F14B8;
  --background: #E9EFF4;
  --background-white: #FBFEFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  accent-color: var(--destaque);
}

body {
  display: flex;
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}


.menu-lateral {
  width: 8vw;
  background-color: #0E2361;
  color: #FBFEFF;
  padding: 20px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin-bottom: 20px;
  }
}


.container {
  margin-left: 8vw; 
  width: 92vw;
  display: flex;
  flex-direction: column;


  .titulo-form {
    width: 100%;
    height: 16vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
  
    h1 {
      font-size: 24px;
      font-weight: 600;
    }
  
    span {
       font-weight: 500;
       color: #555555;
     }
  }
  
  #produto-form {
    background-color: aqua;
    height: 84vh;
    display: flex;
    gap: 8vw;


    
    #formulario-esquerda {
      width: 42vw;
      background-color: beige;
      display: flex;
      flex-direction: column;
      padding: 40px;

      .input-forms {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
          margin-bottom: 5px;
        }
      }
      
  
      .input-forms:nth-child(5) { 
        background-color: wheat;
        display: flex; 

        input {
          width: 48%;
        }
        
      }


      .botoes-formulario {
        background-color: orange;
        display: flex;
        justify-content: space-between;
        
        button {
          font-size: 16px;
          width: 48%;
          height: 48px;
          background-color: var(--background);
          border: 1px solid #000000;
          border-radius: 12px;
          cursor: pointer
        }

        #enviar-forms {
          background-color: #0F14B8;
          color: #E9EFF4;
        }
      }
    }
  
    #formulario-direita {
      width: 42vw;
      background-color: purple;
      display: flex;
      flex-direction: column;
      padding: 40px;

      .opcional-forms {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
          margin-bottom: 5px;
        }
      }
    }
  
  }
  
  
  
  
  
  
}
