input[type="checkbox"] {
    display: none;
}

.checkbox-cozinha-label2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    border: 1px solid var(--titulos-botoes-destaques);
    border-radius: 8px;
    background-color: var(--cor-para-o-texto-branco);
    color: var(--titulos-botoes-destaques);
    height: max-content;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

    img{
        width: 18px; 
        height: 18px;
    }
}

 input[type="checkbox"]:checked + .checkbox-cozinha-label2 {
    background-color: var(--titulos-botoes-destaques);
    color: var(--cor-para-o-texto-branco);

}

input[type="checkbox"]:checked +
.checkbox-cozinha-label2 img {
    content: url("../../../assets/check-branco.svg");
}


@media (max-width: 768px){
    checkbox-cozinha-label2 img{
        width: 500px;
    }
}