.formulario-produto {
    margin: 0;
    max-width: 600px;
    width: 100%;
  
    .descricao-produto {
      font-size: 16px;
      color: var(--cor-para-texto-preto);
      margin-bottom: 25px;
      text-align: left;
    }
  
    .formulario-inputs {
      display: flex;
      flex-direction: column;
    }
  
    .grupo-inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 14px;
  
      label {
        font-size: 14px;
        font-weight: 600;
        color: var(--cor-para-texto-preto);
        margin-bottom: 6px; 
      }
  
      input,
      textarea,
      select {
        padding: 12px;
        border: none;
        border-radius: 6px;
        background-color: white;
        font-size: 15px;
        box-sizing: border-box;
        width: 100%;
      }
  
      textarea {
        resize: vertical;
        min-height: 80px;
      }

      select {
        padding: 12px;
        border: none;
        border-radius: 6px;
        background-color: white;
        font-size: 15px;
        box-sizing: border-box;
        width: 100%;
      }
    }
  
    .linha-dupla {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 10px;
  
      > div {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
  
      label {
        font-size: 14px;
        font-weight: 600;
        color: var(--cor-para-texto-preto);
        margin-bottom: 6px;
        margin-left: 2px;
      }
  
      input {
        padding: 12px;
        border: none;
        border-radius: 5px;
        background-color: white;
        font-size: 15px;
        width: 100%;
        box-sizing: border-box;
      }
  
      input[type="date"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
  
    .botoes-produto {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
  
      .btn-cancelar-produto,
      .btn-cadastrar-produto {
        width: 48%;
        padding: 14px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
  
      .btn-cancelar-produto {
        background-color: none;
       border: 1px solid var(--cor-para-texto-preto);
          color: var(--cor-para-texto-preto);
  
        &:hover {
          background-color: #f0f0f0;
          border: 1px solid var(--cor-para-texto-preto);
          color: var(--cor-para-texto-preto);
        }
      }
  
      .btn-cadastrar-produto {
        background-color: var(--titulos-botoes-destaques);
        border: none;
        color: var(--cor-para-o-texto-branco);
  
        &:hover {
          background-color: var(--detalhes-2);
        }
      }
    }
  }
  