.menu-atendente {
  display: flex;
  flex-direction: column;
  width: 74vw;
  height: 88vh;
  margin-left: -64px;
  overflow-y: scroll;

  h1 {
    width: 91%;
    font-size: 20px;
  }

  .setores {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .header-container {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 22px;
    }
  }

  .barra-pesquisa {
    display: flex;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  }

  .barra-pesquisa {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--cor-para-o-texto-branco);
  }

  .input-pesquisa-produtos {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
  }

  .input-pesquisa-produtos::placeholder {
    font-size: 14px;
    color: #9ca3af;
  }

  .lupa-pesquisa {
    background-color: var(--titulos-botoes-destaques);
    border: none;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 8px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
  }

  .lupa-pesquisa:hover {
    background-color: var(--detalhes-2);
  }

  .lupa-pesquisa img {
    width: 40px;
    height: 40px;
  }

  .todos-produtos {
    margin: 0rem 0rem 4rem 4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .produtos-da-categoria {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.4rem;
  }

  .categoria {
    margin: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;

    h1 {
      position: relative;
      margin: 0px 0px 10px 0px;
      left: 10px;
    }
  }
}

.menu-atendente::-webkit-scrollbar {
  width: 20px;
}

.menu-atendente::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid rgba(43, 43, 43, 0.1);
}

.menu-atendente::-webkit-scrollbar-thumb {
  background-color: rgba(43, 43, 43, 0.1);
  border-radius: 10px;
  border: 1px solid #2b2b2b3d;
  background-clip: content-box;
}

.menu-atendente::-webkit-scrollbar-thumb:hover {
  background-color: #2b2b2b28;
}

.menu-comanda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;

  .header-comanda {
    padding: 34px;
    text-align: center;
    font-size: 22px;
  }

  .botao-confirmar {
    border-top: 3px solid rgba(43, 43, 43, 0.1);
    margin-top: auto;
    margin-bottom: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
  }

  .produtos-adicionados-comanda {
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1rem;
    height: 100vh;
    margin-bottom: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border: 1px solid rgba(43, 43, 43, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(43, 43, 43, 0.1);
      border-radius: 10px;
      border: 1px solid #2b2b2b3d;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #2b2b2b28;
    }
  }
}
