.checkbox-cozinha-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 8px;
  border: 1px solid var(--destaque);
  border-radius: 8px;
  background-color: var(--color-font);
  color: var(--destaque);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid var(--destaque);
}

.checkbox-cozinha-label.ativo img {
  content: url("../../../assets/check-branco.svg");
}

.checkbox-cozinha-label:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
