.cabecalho-funcionarios {
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: var(--cor-para-o-texto-branco);
    background-color: var(--titulos-botoes-destaques);

}

.cabecalho-funcionarios th {
    padding: 10px;
    text-align: center;
    width: 33%;
}
