.card-total {
    background-color: var(--cor-para-o-texto-branco);
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    font-size: 16px;
}

.card-total span {
    font-weight: bold;
}

.card-total small {
    border: none;
    outline: none;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.card-total .lanche {
    width: 50px;
    height: 50px;       
    object-fit: cover; 
    border-radius: 100%;
}


.card-total:hover {
    background-color: var(--titulos-botoes-destaques);
    color: var(--cor-para-o-texto-branco);
}
@media (max-width: 768px) {
  .card-total {
    min-width: auto;
    font-size: 14px;
    padding: 0.7rem;
    gap: 4px;
  }

  .card-total .lanche {
    width: 40px;
    height: 40px;  
    object-fit: cover;
  }

  .card-total span {
    font-size: 13px;
  }

  .card-total small p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .card-total {
    width: 90px;
    height: 90px;
    padding: 0.5rem;
    font-size: 12px;
  }

  .card-total .lanche {
    width: 35px;
    height: 35px; 
    object-fit: cover;
  }
}

