.card-total {
    background-color: white;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    font-size: 16px;
}

.card-total small {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
}

.card-total .lanche {
    width: 70%;
}

.card-total:hover {
    background-color: var(--azul-escuro);
    color: var(--card-branco);
}

