.card-total {
    background-color: var(--cor-para-o-texto-branco);
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    font-size: 16px;
}

.card-total span {
    font-weight: bold;
}

.card-total small {
    border: none;
    outline: none;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.card-total .lanche {
    width: 50px;
    border-radius: 100%;
}

.card-total:hover {
    background-color: var(--titulos-botoes-destaques);
    color: var(--cor-para-o-texto-branco);
}

