.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3%;
    display: flex;
    flex-direction: column;

    .kpis {
        width: 100%;
        height: 19%;
        display: flex;
        justify-content: space-between;
    }

    .graficos {
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}