.formulario-funcionario {
  margin: 0;
  max-width: 600px;
  width: 100%;

  .titulo-funcionario {
    font-size: 28px;
    font-weight: 800;
    color: var(--cor-para-texto-preto);
    margin-bottom: 8px;
  }

  .descricao-funcionario {
    font-size: 16px;
    color: var(--cor-para-texto-preto);
    margin-bottom: 25px;
    text-align: left;
  }

  .formulario-inputs {
    width: 100%;

    .grupo-inputs {
      margin-bottom: 15px;

      label {
        font-weight: 600;
        margin-bottom: 6px;
        display: block;
        font-size: 15px;
      }

      select,
      input[type="text"],
      input[type="date"] {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        background-color: white;
      }

      select:disabled,
      input:disabled {
        background-color: white;
        color: var(--cor-para-texto-preto);
        cursor: not-allowed;
        border: none;
      }

      input[type="text"],
      input[type="date"] {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 6px;
        font-size: 16px;
          color: var(--cor-para-texto-preto);
        background-color: white;
      }
    }

    input:disabled {
      background-color: white;
      color: var(--cor-para-texto-preto);
      cursor: not-allowed;
      border: none;
    }
  }

  .grupo-checkbox {
    margin: 10px 0 5px;

    span {
      display: block;
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 10px;
    }

    .checkboxes-funcionario {
      display: flex;
      gap: 40px;
      margin-top: 20px;

      label {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 15px;

        input[type="checkbox"] {
          display: block;
          appearance: none;
          -webkit-appearance: none;
          width: 20px;
          height: 20px;
          border: 2px solid var(--titulos-botoes-destaques);
          border-radius: 4px;
          background-color: white;
          cursor: pointer;
          position: relative;
          transition: all 0.2s ease;

          &:checked {
            background-color: var(--titulos-botoes-destaques);
            border-color: var(--titulos-botoes-destaques);

            &::after {
              content: "✓";
              color: white;
              font-size: 14px;
              position: absolute;
              bottom: 0;
              right: 4px;
            }
          }
        }
      }
    }
  }

  .botoes-funcionario {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .btn-cancelar-funcionario,
    .btn-cadastrar-funcionario {
      width: 48%;
      padding: 14px;
      font-size: 17px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .btn-cancelar-funcionario {
      background: none;
      border: 1px solid var(--titulos-botoes-destaques);
      color: var(--titulos-botoes-destaques);

      &:hover {
        background-color: var(--detalhes-2);
        border: 1px solid var(--detalhes-2);
        color: var(--cor-para-o-texto-branco);
      }
    }

    .btn-cadastrar-funcionario {
      background-color: var(--titulos-botoes-destaques);
      color: var(--cor-para-o-texto-branco);
      border: none;

      &:hover {
        background-color: var(--detalhes-2);
      }
    }
  }

.acesso-total-label.disabled {
  color: red;

  input[type="checkbox"] {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid red !important; /* borda vermelha */
    background-color: #ffe5e5; /* fundo clarinho vermelho */
    cursor: not-allowed;

    &:checked {
      background-color: red; /* fundo vermelho se marcado */
      border-color: red;

      &::after {
        content: "✓";
        color: white;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        right: 4px;
      }
    }
  }
}

}