.foto-produto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-right: 100px;
}

.bloco-imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-foto {
  font-size: 14px;
  font-weight: 600;
  color: var(--cor-para-texto-preto);
  text-align: left;
  align-self: flex-start;
}

.imagem-preview {
  width: 450px;
  height: 450px;
  max-height: 250px;
  object-fit: contain;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.input-escondido {
  display: none;
}

.texto-upload {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 6px;
  cursor: pointer;
}

.texto-upload label {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: var(--titulos-botoes-destaques)
  }
}

.descricao-produto-mobile{
  display: none;
}

.descricao-produto-foto {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-para-texto-preto);
    margin-bottom: 6px;
  }

  textarea {
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    background-color: white;
    resize: vertical;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

  }
}

@media (max-width: 768px) {

  .descricao-produto-foto {
    display: none !important;
  }

  .descricao-produto-mobile {
    display: block !important;
    font-size: 14px;
    color: var(--cor-para-texto-preto);
    text-align: left;
  }

  .foto-produto {
    margin-right: 0;
    padding: 0;
    margin-top: 0;
  }

  .imagem-preview {
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 250px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .label-foto {
    text-align: left;
    align-self: left;
  }

  .bloco-imagem {
    width: 100%;
    align-items: center;
  }

  .texto-upload {
    font-size: 13px;
    width: 80%;
    margin-bottom: 10px;
  }
}
