.top-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: 100%;
  justify-content: baseline;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.filtros-dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;    
}

.menu-filtros {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--cor-para-o-texto-branco);
  border-radius: 5px;
  padding: 8px 16px;
  z-index: 999;
  min-width: 150px;
  font-size: 14px;
  border: none;
}

.menu-filtros button {
  display: block;
  background: none;
  border: none;
  text-align: left;
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.menu-filtros button:hover {
  background-color: var(--detalhes-2);
  color: var(--cor-para-o-texto-branco);
}

.top-actions input.search {
  padding: 10px;
  flex: 1;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.top-actions select {
  padding: 8px 16px;
  border-radius: 5px;
  width: 200px;
  border: none;
  font-size: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.top-actions input.search:focus {
  outline: none;
  border: none;
}

  .top-actions input.search::placeholder {
    font-size: 14px;
    color: #9ca3af;
  }

.add-btn {
  background: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.add-btn:hover {
  background-color: var(--detalhes-2);
}

.filtro {
  background: var(--cor-para-o-texto-branco);
  color: var(--titulos-botoes-destaques);
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.filtro:hover {
  background-color: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
  font-size: 14px;
}

.filtro-ativo {
  background-color: var(--titulos-botoes-destaques);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--cor-para-o-texto-branco);
  font-size: 14px;
}

.filtro-ativo:hover {
  color: var(--cor-para-o-texto-branco);
  background-color: var(--detalhes-2);
  font-size: 14px;
}
