.pagina-container {
  background-color: var(--cor-para-o-fundo-sistema);
  padding: 20px 32px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.cadastro-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.main-actions {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0 50px;
}

.add-btn {
  background: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.add-btn:hover {
  background-color: var(--detalhes-2);
}


.info-s-card {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  width: 652px;
  box-sizing: border-box;
  height: 548px;
  box-Shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}




