.pagina-container {
  background-color: var(--cor-para-o-fundo-sistema);
  padding: 20px 32px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.cadastro-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info-s-card {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  width: 652px;
  box-sizing: border-box;
  height: 548px;
  box-Shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}




