.botao-institucional {
    background-color: var(--titulos-botoes-destaques);
    color:var(--cor-para-o-texto-branco);
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    width: max-content;
}

.botao-institucional:hover {
    background-color: var(--botoes-hover-destaques); 
}