.top-actions-prod {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: 100%;
  justify-content: flex-start;
  font-size: 14px;
  /* position: sticky;
  top: 0;
  z-index: 2; */
}

.filtros-dropdown-prod {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.menu-filtros-prod {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--cor-para-o-texto-branco);
  border: none;
  border-radius: 5px;
  padding: 5px 0px 10px;  
  min-width: 150px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.menu-filtros-prod button {
  display: block;
  background: none;
  border: none;
  text-align: left;
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.menu-filtros-prod button:hover {
  background-color: var(--detalhes-2);
  color: var(--cor-para-o-texto-branco);
}

.top-actions-prod input.search {
  padding: 10px;
  flex: 1;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.top-actions-prod input.search:focus {
  outline: none;
  border: none;
}

  .top-actions-prod input.search::placeholder {
    font-size: 14px;
    color: #9ca3af;
  }

.top-actions-prod select {
  padding: 8px 16px;
  border-radius: 5px;
  width: 200px;
  border: none;
  font-size: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.add-btn-prod {
  background: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.add-btn-prod:hover {
  background-color: var(--detalhes-2);
}

.filtro-prod {
  background: var(--cor-para-o-texto-branco);
  color: var(--titulos-botoes-destaques);
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}


.filtro-prod:hover {
  background-color: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
  font-size: 14px;
}

.filtro-ativo-prod {
  background-color: var(--titulos-botoes-destaques);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--cor-para-o-texto-branco);
  font-size: 14px;
}

.filtro-ativo-prod:hover {
  color: var(--cor-para-o-texto-branco);
  background-color: var(--detalhes-2);
  font-size: 14px;
}

@media (max-width: 768px) {

    .filtro-prod {
  padding: 5.7px 24px;
}

  .filtro-ativo {
  padding: 5.7px 16px;
}

  .top-actions-prod {
    gap: 0.75rem;
    padding: 0 0.5rem;
  }

  .top-actions-prod input.search {
    width: 100%;
    padding: 8px 12px;
    font-size: 13px;
  }

  .top-actions-prod .add-btn-prod {
    width: 100%;
  }

  .top-actions-prod .add-btn-prod {
    padding: 10px 0;
    font-size: 14px;
  }

  .top-actions-prod select {
    font-size: 13px;
    padding: 6px 12px;
  }

  .menu-filtros-prod {
    min-width: auto;
    width: 100%;
    left: 0;
    box-shadow: none;
    border-radius: 5px;
  }

  .menu-filtros-prod button {
    font-size: 13px;
    padding: 10px 14px;
  }

    .add-btn-prod {
  padding: 8px 20px !important;
}
}
