.top-actions-prod {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: 100%;
  justify-content: baseline;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.filtros-dropdown-prod {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.menu-filtros-prod {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--cor-para-o-texto-branco);
  border: none;
  border-radius: 5px;
  padding: 5px;
  z-index: 999;
  min-width: 180px;
}

.menu-filtros-prod button {
  display: block;
  background: none;
  border: none;
  text-align: left;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.menu-filtros-prod button:hover {
  background-color: var(--detalhes-2);
  color: var(--cor-para-o-texto-branco);
}

.top-actions-prod input.search {
  padding: 8px;
  flex: 1;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.top-actions-prod input.search:focus {
  outline: none;
  border: none;
}

.top-actions-prod select {
  padding: 8px;
  border-radius: 5px;
  width: 200px;
  border: none;
  font-size: 14px;
}

.add-btn-prod {
  background: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.add-btn-prod:hover {
  background-color: var(--detalhes-2);
}

.filtro-prod {
  background: var(--cor-para-o-texto-branco);
  border: 1px solid var(--titulos-botoes-destaques);
  color: var(--titulos-botoes-destaques);
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
}


.filtro-prod:hover {
  background-color: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
  font-size: 14px;
}

.filtro-ativo-prod {
  background-color: var(--titulos-botoes-destaques);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--cor-para-o-texto-branco);
  font-size: 14px;
}

.filtro-ativo-prod:hover {
  color: var(--cor-para-o-texto-branco);
  background-color: var(--detalhes-2);
  font-size: 14px;
}
