.linha-produto-prod td {
  padding: 9px 16px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  color: #222;
  white-space: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
}

.imagem-container-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 4px;
  height: 60px;
  width: 80px;
  overflow: hidden;
  margin: 0 auto;
}

.imagem-container-prod img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* botãozinhos */
.acoes-prod button {
  background: none;
  border: none;
  color: #0077cc;
  cursor: pointer;
  font-size: 14px;
}

.acoes-prod button:hover {
  text-decoration: underline;
}

/* Cód. */
.linha-produto-prod td:nth-child(1) {
  width: 100px;
}

/* Imagem */
.linha-produto-prod td:nth-child(2) {
  width: 150px;
}

/* Nome */
.linha-produto-prod td:nth-child(3) {
  width: 180px;
}

/* compra */
.linha-produto-prod td:nth-child(4) {
  width: 100px;
}

/* venda */
.linha-produto-prod td:nth-child(5) {
  width: 100px;
}

/* estoque */
.linha-produto-prod td:nth-child(6) {
  width: 100px;
}

/* Registro */
.linha-produto-prod td:nth-child(7) {
  width: 140px;
}

/* Descrição */
.linha-produto-prod td:nth-child(8) {
  width: 220px;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Ações */
.linha-produto-prod td:nth-child(9) {
  width: 100px;
}
