.resumo-bloco {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* espaçamento entre os blocos */
  width: 100%;
  align-items: center;
}

.resumo-container {
  flex: 1 1 300px; /* ocupa espaço, mas respeita largura mínima */
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px 0;
}

.resumo-item {
  flex: 1 1 200px; /* cada item cresce ou encolhe */
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px 18px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.resumo-kpi-bloco {
  flex: 1 1 300px; /* ele também divide espaço com o container */
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px 18px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.kpi-linha {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.resumo-total{
  display: flex;
  gap: 10px;
}

.kpi-coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.resumo-valor {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  display: flex;
  align-items: center;
  gap: 8px;
}

.resumo-label {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.bolinha {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.amarela {
  background-color: #ffcc00;
}

.vermelha {
  background-color: #cc0000;
}

.laranja {
  background-color: orange;
}

.verde {
  background-color: #4caf50;
}

.cinza {
  background-color: #999;
}

.azul {
  background-color: #2196f3;
}


/* @media (min-width: 800px) and (max-width: 1000px) {
    .resumo-item {
      min-width: 2000px;
    }
  } */