.cabecalho-estoque {
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
  }
  
  .cabecalho-estoque th {
    padding: 10px 12px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: var(--cor-para-texto-preto);
    border-bottom: none;
    /* white-space: nowrap; */
    vertical-align: middle;
  }
  
  .cabecalho-estoque tr {
    border-radius: 8px;
  }
  
  .cabecalho-estoque th:nth-child(1) {
    width: 70px;

  } /* Cód. */
  
  .cabecalho-estoque th:nth-child(2) {
    width: 100px;
  } /* Imagem */
  
  .cabecalho-estoque th:nth-child(3) {
    width: 220px;
  } /* Nome */
  
  .cabecalho-estoque th:nth-child(4) {
    width: 100px;
    /* preco */
  }
  
  .cabecalho-estoque th:nth-child(5) {
    width: 110px;
    /* disponibilidade */
    
  } 
  
  .cabecalho-estoque th:nth-child(6) {
    width: 100px;
  } /* setor */
  
  .cabecalho-estoque th:nth-child(7) {
    width: 140px;
  } /* Categoria */

      .cabecalho-estoque th:nth-child(8) {
    width: 100px;
  } /* àrea */
  
  
  .cabecalho-estoque th:nth-child(9) {
    width: 170px;
  } /* Descrição */
  
    .cabecalho-estoque th:nth-child(10) {
    width: 100px;
  } /* Status */
  