.navbar {
  width: 4rem;
  height: 100vh;
  background: var(--cor-para-o-texto-branco);
  font-size: 1rem;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow: hidden;
  box-shadow: 5px 0px 15px rgba(7, 6, 6, 0.2);
  z-index: 9;

  img {
    width: 40px;
  }

  ul {
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1%;

    p {
      width: 100%;
    }

    a {
      text-decoration: none;
      color: var(--titulos-botoes-destaques);

      li {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        text-align: left;
        white-space: nowrap;
        padding: 5px;

        span {
          display: none;
        }
      }

      li:hover {
        font-weight: 500;
        background-color: #0000001f;
        border-radius: 5px;
        filter: brightness(0) saturate(100%) invert(39%) sepia(90%)
          saturate(500%) hue-rotate(190deg);
      }
    }
  }

  .user {
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    height: 4rem;
    font-weight: 400;
    padding: 8px;
    background-color: var(--titulos-botoes-destaques);
    color: white;
    display: flex;
    align-items: center;
    position: relative;

    i {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      flex-shrink: 0;
    }

    i img {
      width: 55%;
      height: auto;
      object-fit: contain;
    }

    i,
    span {
      opacity: 0;
      transform: translateX(-10px);
      white-space: nowrap;
    }

    .nome-usuario {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .show {
      opacity: 1;
      transform: translateX(0);
      position: relative;
      pointer-events: auto;
    }

    .hide {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }

    span {
      padding-left: 10px;
    }
  }

  .clicked {
    border-radius: 5px;
    background-color: #0000001f;
    filter: brightness(0) saturate(100%) invert(39%) sepia(90%) saturate(500%)
      hue-rotate(190deg);
  }

  .seta-nav {
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }
}


.navbar.aberta {
  width: 15rem;

  ul li span {
    display: inline;
  }

  .seta-nav {
    transform: scaleX(-1);
  }
}

.navbar ul a li:hover,
.navbar ul a li.clicked {
  font-weight: 500;
  background-color: #0000001f;
  border-radius: 5px;
  filter: brightness(0) saturate(100%) invert(39%) sepia(90%)
          saturate(500%) hue-rotate(190deg);
}



@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    position: fixed;
    transition: left 0.3s ease;
    z-index: 2500;
  }

  .navbar.aberta {
    left: 0;
  }

  .menu-mobile-toggle {
    position: fixed;
    top: 0rem;
    left: 0.5rem;
    color: var(--destaque);
    z-index: 2200;
    background: none;
    border: none;
    font-size: 35px;
    padding: 0.6rem 0.9rem;
    border-radius: 8px;
    cursor: pointer;
  }

  .overlay-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1999;
  }
}
