.resumo-funcionario {
  background-color: var(--titulos-botoes-destaques);
  border: 1px solid var(--detalhes-2);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.resumo-funcionario p {
  margin: 5px 0;
  color: var(--cor-para-o-texto-branco);
  text-align: center;
}

@media (max-width: 768px) {
  .resumo-funcionario{
    font-size: 14px;
  }
}