.estoque-pratos{
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  /* height: 100%; */
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
}

.paginacao-wrapper {
  margin-top: auto;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .paginacao-wrapper {
    margin-bottom: 20px;
  }
}

