.container-funcionario {
  display: flex;
  width: 97%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.formulario-funcionario {
  flex: 1;
}

.tabela-funcionarios-container {
  padding: 0;
  width: 350px;
  max-height: 550px;
  overflow-y: auto;
}

.tabela-funcionarios {
  width: 680px;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  right: 0;
}

.tabela-funcionarios th,
.tabela-funcionarios td {
  padding: 10px 12px;
  text-align: center;
  font-size: 14px;
}

.tabela-funcionarios th {
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 7;
}

/* .tabela-funcionarios tr:nth-child(even) {
  background-color: var(--detalhes-2) ;
} */


.coluna-esquerda {
  flex: 1;
}

.coluna-meio {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.coluna-direita {
  width: 650px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .container-funcionario {
    flex-direction: column;
    width: 100%;
    gap: 24px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .coluna-esquerda,
  .coluna-direita {
    width: 100% !important;
    max-width: 100%;
  }

  .tabela-funcionarios {
    width: 100% !important;
    overflow-x: auto;
  }

  .tabela-funcionarios table {
    min-width: 500px;
  }

  .tabela-funcionarios-container {
    width: 100%;
    max-height: unset;
  }
}
