.container-modal-confirmar-pedido {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  .modal {
    background-color: var(--cor-para-o-texto-branco);
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    height: max-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 999;
    overflow: auto;

  }

  .modal.confirmar{
    display: none;
  }

  .botao-fechar {
    margin: 5px;
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 15px ;
    border: 1px solid var(--titulos-botoes-destaques);
    border-radius: 100%;
    color: var(--titulos-botoes-destaques);
  }

  .botao-fechar:hover{
    color: var(--cor-para-o-texto-branco);
    background-color: var(--titulos-botoes-destaques);
  }
  .modal-header {
    text-align: center;
    margin-bottom: 20px;

  }

  #observacoes-container {
    text-align: start;
    width: 100%;
  }

  #observacoes-container div {
    margin-bottom: 15px;
  }

  label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px; /* espaçamento entre os campos */
  }

  .botoes-modal {
    text-align: center;
    margin: 10px;
  }
}