.btn-plano-atual {
    background-color: white;
    color: var(--botoes-hover-destaques);
    border: 2px solid var(--botoes-hover-destaques);
    cursor: default;
}

.btn-plano-atual:hover {
    background-color: white; /* Não muda ao passar o mouse */
    color: var(--botoes-hover-destaques);
}
