.botao-opcao {
    background-color: #BCC9F1;
    color: var(--detalhes-inputs-texto);
    width: 100%;
    padding: 8px;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 0.8rem 0rem;
    cursor: pointer;
    @media (max-width: 930px) {
        font-size: 18px;
    }
    @media (max-width: 852px) {
        font-size: 16px;
    }
    @media (max-width: 771px) {
        font-size: 14px;
    }
} 


.botao-opcao:hover {
    background-color: var(--detalhes-2);
    color: var(--card-branco);
    transition: all 0.3s; 
} 

.botao-opcao.selecionado {
    background-color: var(--detalhes-2);
    color: var(--card-branco);
    transition: all 0.3s; 
} 