.botao-confirmar-pedido {
  background-color: var(--titulos-botoes-destaques);
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  font-weight: 500;
  cursor: pointer;
  gap: 6rem;
  min-width: 300px;
  gap: 1rem;

  .button-confirmar {
    width: 120px;
  }

  .info-pedido {
    color: var(--cor-para-o-texto-branco);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    #qtd-itens {
      opacity: 0.75;
    }
  }

  .button-confirmar {
    background-color: var(--cor-para-o-texto-branco);
    border: none;
    color: var(--titulos-botoes-destaques);
    padding: 10px;
    /* padding: 0.6rem 1.25rem; */
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: auto;
    min-width: 100px;
    height: 45px;
  }
}

.botao-confirmar-pedido-footer:hover {
  background-color: var(--detalhes-2);
}

@media (max-width: 768px) {
  .botao-confirmar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    background: none;
    width: 100vw;
    max-width: 100vw;
    z-index: 2000;
    display: flex;
    justify-content: center;
    box-shadow: none;
  }

  .menu-comanda .botao-confirmar {
    border-top: none !important;
  }

  .botao-confirmar-pedido {
    margin-left: 9px;
    padding: 14px 20px;
    /* gap: 11rem; */
    width: 100%;
    min-width: 343px;
  }
}


.botao-confirmar-pedido-footer .info-pedido {
  font-size: 12px;
  width: 100px;
}

.botao-confirmar-pedido-footer .info-pedido #qtd-itens {
  opacity: 0.7;
  font-weight: 500;
}

.botao-confirmar-pedido-footer .info-pedido #valor-total {
  font-weight: 600;
  font-size: 13px;
}

.botao-confirmar-pedido-footer .button-confirmar {
  background-color: var(--cor-para-o-texto-branco);
  color: #0033cc;
  padding: 0.6rem 1.25rem;
  font-size: 13px;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}