.botao-confirmar-pedido {
    background-color: var(--titulos-botoes-destaques);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw !important;
    height: 80px !important;
    font-weight: 500;
    cursor: pointer;

    .info-pedido {
        color: var(--cor-para-o-texto-branco);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        #qtd-itens {
            opacity: 75%;
        }
    }

    .button-confirmar {
        background-color: var(--cor-para-o-texto-branco);
        border: none;
        color: var(--titulos-botoes-destaques);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        width: 35%;
        height: 45px;
    }
}

.botao-confirmar-pedido:hover {
    background-color: var(--detalhes-2);
}
