.elemento-imagem {
    position: relative;
    display: block;

    img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--titulos-botoes-destaques);
        opacity: 0;
        transition: all 0.2s;
        border-radius: 20px;
        cursor: pointer;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        color: #fff;
        padding: 24px;
        font-size: 24px;

        @media (max-width: 980px) {
            font-size: 20px;
        }

        @media (max-width: 832px) {
            font-size: 18px;
        }
    }

    .overlay.visivel {
        opacity: 1;
    }
}