.cabecalho-estoque-prod {
  background-color: var(--cor-para-o-texto-branco);
  position: sticky;
  top: 0;
}

.cabecalho-estoque-prod th {
  padding: 10px 12px;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  color: var(--cor-para-texto-preto);
  border-bottom: none;
  vertical-align: middle;
  text-align: center;
}

.cabecalho-estoque-prod tr {
  border-radius: 8px;
}

.cabecalho-estoque-prod th:nth-child(1) {
  width: 100px;
} /* Cód. */

.cabecalho-estoque-prod th:nth-child(2) {
  width: 150px;
} /* Imagem */

.cabecalho-estoque-prod th:nth-child(3) {
  width: 180px;
} /* Nome */

.cabecalho-estoque-prod th:nth-child(4) {
  width: 100px;
} /* Compra */

.cabecalho-estoque-prod th:nth-child(5) {
  width: 100px;
} /* Venda */

.cabecalho-estoque-prod th:nth-child(6) {
  width: 100px;
} /* Estoque */

.cabecalho-estoque-prod th:nth-child(7) {
  width: 140px;
} /* Registro */

.cabecalho-estoque-prod th:nth-child(8) {
  width: 220px;
} /* Descrição */

.cabecalho-estoque-prod th:nth-child(9) {
  width: 100px;
} /* Status */


@media (max-width: 768px) {
  .cabecalho-estoque-prod th:nth-child(3) {
    position: sticky;
    left: 0;
    background-color: var(--titulos-botoes-destaques);
    z-index: 3;
    text-align: left;
    min-width: 180px;
    max-width: 180px;
  }

  .cabecalho-estoque-prod th:nth-child(3) {
    padding-left: 20px;
    padding-right: 12px;
  }
}
