.card-produto {
    position: relative; 
    min-width: 280px;
    min-height: 95px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding-right: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
    border-left: 20px solid var(--titulos-botoes-destaques);
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
}


.img-obs{
    display: flex; 
    flex-direction: column;
    align-items: center;
    top:10px
}


.imagem-produto {
    margin-left: 8px;
    width: 4vw; 
    max-width: 2.5vw;
}

.detalhes-produto {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nome-produto {
    max-width: 100px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.preco-produto {
    color: gray;
}

.controles-quantidade {
    display: flex;
    align-items: center;
}

.btn-diminuir, .btn-aumentar {
    background-color: var(--titulos-botoes-destaques);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-diminuir:hover, .btn-aumentar:hover {
    background-color: var(--azul-claro); 
}

.quantidade {
    margin: 10px;
    font-size: 1em;
}


.observacao-produto {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    background-color: #d7c7c708;
    font-weight: bold;
    color: #FF6868;
    font-size: 12px;
    padding: 2px 0;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 1;
}


.observacao-produto:hover {
    background-color: #83a2ff22;
}

.btn-aumentar:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
