@keyframes fadeBlink {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}

.tela-carregamento-formulario {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.144);
  cursor: wait;
  font-weight: bold;

  .tela-carregamento-modal {
    width: 32%;
    height: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    gap: 1rem;
    color: var(--titulos-botoes-destaques);
    border-radius: 0.4rem;
    background-color: rgb(255, 255, 255);

    img {
      width: 15%;
      animation: fadeBlink 2s ease-in-out infinite;
    }

    .tela-carregamento-barra {
        width: 80%;
        height: 8%;
        border: 1px solid #000;
        border-radius: 0.5rem;
        overflow: hidden;
        box-sizing: border-box;
        
        .tela-carregamento-porcentagem {
            height: 100%;
            transition: all 0.2s;
            background-color: var(--titulos-botoes-destaques);
        }
    
    }
  }
}
