.botao-generico-atendente{
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    color: var(--cor-para-o-texto-branco);
    background-color: var(--titulos-botoes-destaques); 
    width: max-content;
}


.botao-generico-atendente:hover{
    background-color: var(--detalhes-2); 
}