@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --texto-preto: #040B28;
  --hovers: #0E2361;
  --destaque: #0F14B8;
  --cor-secundaria: #83A1FF;
  --background: #FAFAFA;
  --background-white: #FBFEFF;
  --botaofundo: #BCC9F1;
  --botao-fundo-clicado: #83A1FF;
  --botao-letra: #3E43C6;
  --background-blue: #E9EFF4;
  --texto: #1E1E1E;
  --bg-dark: #1A1A1A;
  --card-branco: #FAFAFA;
  --azul-escuro: #0b1386;
  --azul-claro-second: #A5b4fC;
  --color-font: #ffffff;

  --cor-para-o-fundo-site: #E9EFF4;
  --cor-para-o-fundo-sistema: #F5F5F5;
  --cor-para-o-texto-branco: #ffffff;
  --carregamento: #d5d5d5;
  --detalhes-1: #BCC9F1;
  --detalhes-2: #0f15b8d8;
  --azul-claro: #5179EF;
  --cinza-hover-select: #f0f0f0;
  --cor-para-texto-preto: #040B28;
  --titulos-botoes-destaques: #0F14B8;
  --botoes-hover-destaques: #0f15b8c2;
  --footer: #0E2361;
  --detalhes-inputs-texto: #3E43C6;
  --mensagem-correta: #277750;
  --mensagem-errada: #A92626;

  /* Dark */
  /* --cor-para-o-fundo-dark: #181c1f ou #1a1d23;
  --cor-para-o-texto-branco-dark: #e2e2e2 ou #E7E9EE;
  --detalhes-1-dark: #394150 ou #232B3A;
  --detalhes-2-dark: #4961b5 ou #41598D;
  --cor-para-texto-preto-dark: #e5e9f2 ou #E1E3EA;
  --titulos-botoes-destaques-dark: #7983fc ou #3764e4;
  --botoes-hover-destaques-dark: #42549e ou #2550a8;
  --detalhes-inputs-texto-dark: #7a8fff ou #647cf7;
  --mensagem-correta-dark: #36b87d ou #37C079;
  --mensagem-errada-dark: #e05a5a ou #CC3939; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  accent-color: white;
}

body {
  display: flex;
  background-color: var(--cor-para-o-fundo-site);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

hov {
  color: var(--titulos-botoes-destaques);
}

.Toastify__progress-bar--success {
  background-color: var(--titulos-botoes-destaques) !important;
}

.Toastify__progress-bar--error {
  background-color: #e53935 !important;
}

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--titulos-botoes-destaques) !important;
  color: var(--titulos-botoes-destaques) !important;
}


.swal2-actions {
  display: flex !important;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.btn-cancelar,
.btn-aceitar{
  padding: 14px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancelar {
  background: none;
  border: 1px solid var(--cor-para-texto-preto);
  color: var(--cor-para-texto-preto);
  width: var(--botao-width-desktop);
  height: var(--botao-height-desktop);
  border-radius: var(--botao-radius-desktop);
}

.btn-cancelar:hover {
  background-color: #f2f2f2;
}

.btn-aceitar {
  background-color: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
  border: none;
  width: var(--botao-width-desktop);
  height: var(--botao-height-desktop);
  border-radius: var(--botao-radius-desktop);
}

.btn-aceitar:hover {
  background-color: var(--titulos-botoes-destaques);
  color: var(--cor-para-o-texto-branco);
}