/* Box sizing consistente */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
}

Remove inconsistências em tipografia
html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: none;
  color: var(--cor-para-texto-preto);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/* Listas */
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Botões, inputs, selects */
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;    
  appearance: none;     
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

/* Imagens e mídia */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Tabelas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Cabeçalhos */
tspan {
  font-size: inherit;
}

span {
    font-size: inherit;
}

p{
    font-size: inherit;
}

h1, h2, h4, h5, h6 {
  font-size: inherit;
}

/* Formulários */
textarea {
  resize: vertical;
}
