.tabela-container-prod {
  max-height: 100%;
  border-radius: 8px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.tabela-estoque-prod {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.cabecalho-estoque-prod th {
  position: sticky;
  top: 0;
  color: white;
  background-color: #0000cc;
  z-index: 1;
  padding: 8px;
  text-align: center;
}

.linha-produto-prod td {
  text-align: center;
  vertical-align: middle;
  padding: 6px;
}
