.tabela-container-prod {
  max-height: 72%;
  border-radius: 8px;
  overflow-y: auto;
  border: none;
}

.tabela-estoque-prod {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.cabecalho-estoque-prod th {
  position: sticky;
  top: 0;
  color: var(--cor-para-o-texto-branco);
  background-color: var(--titulos-botoes-destaques);
  z-index: 1;
  padding: 8px;
  text-align: center;
}

.linha-produto-prod td {
  padding: 9px 16px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  color: #222;
  white-space: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  background-color: #ffffff;
}