.tabela-container-prod {
  max-height: 72%;
  border-radius: 8px;
  overflow-y: auto;
  border: none;
}

.tabela-estoque-prod {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.cabecalho-estoque-prod th {
  position: sticky;
  top: 0;
  color: var(--cor-para-o-texto-branco);
  background-color: var(--titulos-botoes-destaques);
  z-index: 1;
  padding: 8px;
  text-align: center;
}

.linha-produto-prod td {
  text-align: center;
  vertical-align: middle;
  padding: 6px;
}
