name: 游 Deploy App Frontend to AWS EC2 (PULL Docker Image)

on:
  push:
    branches:
      - feature/aws

jobs:
  deploy:
    name: Deploy Container to EC2 via SSH
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout do c칩digo
      - name: 游대 Checkout do Reposit칩rio
        uses: actions/checkout@v4

      # 2. Copiar o arquivo docker-compose.yml
      - name: 游닍 Copiar docker-compose.yml
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}/i9-application 
          SOURCE: "docker-compose.yml"
          ARGS: "-rltgoDzvO"

      # 3. Copiar a pasta nginx (CORRIGIDO AQUI)
      - name: 游닍 Copiar Pasta de Configura칞칚o Nginx
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}/i9-application
          SOURCE: "nginx"
          ARGS: "-rltgoDzvO"
          
      # 4. SSH e Deploy no EC2
      - name: 游 Executar Deploy Docker Compose na EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          
          script: |
            set -e
            
            # Vari치vel com o IP privado
            export IP_REMOTE_PRIVADO=${{ secrets.REMOTE_HOST_PRIVADO }}
            echo "Vari치vel de IP privado criada: $IP_REMOTE_PRIVADO"

            cd /home/${{ secrets.REMOTE_USER }}/i9-application
            
            # Injeta o IP no template do Nginx
            envsubst '$IP_REMOTE_PRIVADO' < nginx/app.conf.template > nginx/app.conf
            echo "Arquivo nginx/app.conf atualizado com IP privado."
            
            # Login e Deploy
            echo "${{ secrets.DOCKER_HUB_TOKEN}}" | docker login ${{ secrets.DOCKER_REGISTRY }} -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
            
            docker-compose pull
            docker-compose up -d --force-recreate i9-website-application 
            echo "Servi칞o frontend reiniciado com sucesso."